openapi: 3.1.0
info:
  title: Root Logos Runtime
  version: 1.1.0
  description: Cultivation inspection, authenticated wake intake, and the private Source-Grant-gated Journal Membrane.
servers:
  - url: https://runtime.rootlogos.com
paths:
  /health:
    get:
      operationId: health
      responses:
        "200": { description: Runtime health }
  /v1/status:
    get:
      operationId: cultivationStatus
      responses:
        "200": { description: Runtime, cultivation, dormancy, novelty, policy, and latest wake response summary }
  /v1/cycles:
    get:
      operationId: listCycles
      responses:
        "200": { description: Reverse-chronological cultivation cycles }
  /v1/cycles/{cultivationId}:
    get:
      operationId: getCycle
      parameters:
        - in: path
          name: cultivationId
          required: true
          schema: { type: string, pattern: "^RL-CULTIVATE-[0-9]{4,}$" }
          description: Canonical cultivation identifier. Historical RL-CULT identifiers remain accepted as read-only aliases.
      responses:
        "200": { description: One cycle with evidence and judgment lineage }
  /v1/proposals:
    get:
      operationId: listProposals
      responses:
        "200": { description: Cycles containing proposals, without raw event logs }
  /v1/intake:
    post:
      operationId: submitObservation
      description: Requires timestamped HMAC headers; duplicate event IDs are idempotent.
      parameters:
        - in: header
          name: X-Rootlogos-Timestamp
          required: true
          schema: { type: string, format: date-time }
        - in: header
          name: X-Rootlogos-Signature
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ObservationEnvelope" }
      responses:
        "202": { description: Accepted and optionally queued for wake }
        "401": { description: Invalid or stale signature }
        "422": { description: Invalid observation envelope }
  /v1/public/intake:
    post:
      operationId: offerPublicObservation
      description: Validates, rate-limits, server-signs, and journals an unreviewed public observation without waking cultivation.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PublicObservation" }
      responses:
        "202": { description: Observation preserved outside constitutional memory }
        "403": { description: Origin not permitted }
        "422": { description: Invalid observation }
        "429": { description: Intake rate limit reached }
  /v1/admin/intake:
    get:
      operationId: listIntake
      security: [{ adminBearer: [] }]
      responses:
        "200": { description: Immutable observations with classification history }
        "401": { description: Administrator credential required }
  /v1/admin/intake/{eventId}/classify:
    post:
      operationId: classifyObservation
      security: [{ adminBearer: [] }]
      parameters:
        - in: path
          name: eventId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Classification" }
      responses:
        "202": { description: Classification appended and eligible wake queued }
        "401": { description: Administrator credential required }
        "404": { description: Observation not found }
        "422": { description: Invalid classification }
  /v1/admin/journal:
    get:
      operationId: inspectJournalMembrane
      security: [{ adminBearer: [] }]
      responses:
        "200": { description: Derived-only journal status, Source Grants, autonomous dispositions, and transformation lineage }
        "401": { description: Administrator credential required }
  /v1/admin/journal/grants:
    post:
      operationId: createJournalSourceGrant
      security: [{ adminBearer: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SourceGrant" }
      responses:
        "201": { description: Attributable, scoped, revocable Source Grant activated }
        "401": { description: Administrator credential required }
        "422": { description: Invalid or unsupported grant }
  /v1/admin/journal/grants/{sourceGrantId}/revoke:
    post:
      operationId: revokeJournalSourceGrant
      security: [{ adminBearer: [] }]
      parameters:
        - in: path
          name: sourceGrantId
          required: true
          schema: { type: string }
      responses:
        "200": { description: Grant revoked and encrypted working copies released }
        "401": { description: Administrator credential required }
        "404": { description: Source Grant not found }
  /v1/admin/journal/grants/{sourceGrantId}/entries:
    post:
      operationId: addAuthorizedJournalEntry
      security: [{ adminBearer: [] }]
      parameters:
        - in: path
          name: sourceGrantId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source_entry_id, content]
              properties:
                source_entry_id: { type: string, maxLength: 120 }
                content: { type: string, minLength: 20, maxLength: 1000000 }
      responses:
        "202": { description: Entry encrypted, transformed, released, autonomously judged, and optionally queued for cultivation }
        "401": { description: Administrator credential required }
        "404": { description: Active Source Grant not found }
        "409": { description: Source entry identity already exists in the local drop }
        "422": { description: Entry violates the grant scope or size boundary }
  /v1/admin/journal/collect:
    post:
      operationId: collectAuthorizedJournalEntries
      security: [{ adminBearer: [] }]
      responses:
        "202": { description: One bounded local-drop collection pass completed; qualifying derived observations queued cultivation }
        "401": { description: Administrator credential required }
        "503": { description: Journal encryption secret is not configured }
  /v1/commands/wake:
    post:
      operationId: wakeCultivation
      security: [{ adminBearer: [] }]
      responses:
        "202": { description: Human-forced wake queued }
components:
  securitySchemes:
    adminBearer: { type: http, scheme: bearer }
  schemas:
    PublicObservation:
      type: object
      required: [observation, source_type, consent]
      properties:
        observation: { type: string, minLength: 20, maxLength: 6000 }
        context: { type: string, maxLength: 2000 }
        relation: { type: string, maxLength: 500 }
        source_type:
          type: string
          enum: [lived-experience, research, dialogue, artifact, other]
        attribution: { type: string, maxLength: 120 }
        consent: { type: boolean, const: true }
        website: { type: string, description: Bot-trap field; must remain empty. }
    Classification:
      type: object
      required: [status, reviewer, note]
      properties:
        status:
          type: string
          enum: [hold, rejected, admissible, promoted]
        reviewer: { type: string }
        note: { type: string }
    SourceGrant:
      type: object
      required: [source, owner, adapter, revocation_method]
      properties:
        source: { type: string }
        owner: { type: string }
        adapter: { type: string, const: local-drop }
        include:
          type: array
          items: { type: string }
        exclude:
          type: array
          items: { type: string }
        cadence: { type: string }
        retention_class: { type: string }
        privacy_mode: { type: string }
        revocation_method: { type: string }
        authorized_by: { type: string }
    ObservationEnvelope:
      type: object
      required: [event_id, occurred_at, source_surface, authenticated_producer, payload_type, schema_version, consent_classification, retention_classification, provenance_signature, constitutional_relevance]
      properties:
        event_id: { type: string }
        occurred_at: { type: string, format: date-time }
        source_surface: { type: string }
        authenticated_producer: { type: string }
        payload_type: { type: string }
        schema_version: { type: string }
        payload: {}
        content_ref: { type: string }
        consent_classification: { type: string }
        retention_classification: { type: string }
        provenance_signature: { type: string }
        constitutional_relevance:
          type: string
          enum: [unreviewed, admissible, rejected, promoted]
